# Build Model

In [1]:
%load_ext autoreload
%autoreload 2

from modules.file import CPandasFile
from modules.svm import CSupportVectorMachine
import pandas as pd

In [2]:
cholesterol_raw = CPandasFile().readCsv(r'./data/cholesterol.csv')

cholesterol_raw

     Unnamed: 0  num  thal  ca  restecg  fbs  exang  age  trestbps  chol
0             0    0     6   0        2    1      0   63       145   233
1             1    2     3   3        2    0      1   67       160   286
2             2    1     7   2        2    0      1   67       120   229
3             3    0     3   0        0    0      0   37       130   250
4             4    0     3   0        2    0      0   41       130   204
..          ...  ...   ...  ..      ...  ...    ...  ...       ...   ...
285         297    1     7   0        0    0      1   57       140   241
286         298    1     7   0        0    0      0   45       110   264
287         299    2     7   2        0    1      0   68       144   193
288         300    3     7   1        0    0      1   57       130   131
289         301    1     3   1        2    0      0   57       130   236

[290 rows x 10 columns]

In [3]:
X = cholesterol_raw.drop(columns=['chol'])
y = cholesterol_raw['chol']

X, y

(     Unnamed: 0  num  thal  ca  restecg  fbs  exang  age  trestbps
 0             0    0     6   0        2    1      0   63       145
 1             1    2     3   3        2    0      1   67       160
 2             2    1     7   2        2    0      1   67       120
 3             3    0     3   0        0    0      0   37       130
 4             4    0     3   0        2    0      0   41       130
 ..          ...  ...   ...  ..      ...  ...    ...  ...       ...
 285         297    1     7   0        0    0      1   57       140
 286         298    1     7   0        0    0      0   45       110
 287         299    2     7   2        0    1      0   68       144
 288         300    3     7   1        0    0      1   57       130
 289         301    1     3   1        2    0      0   57       130

 [290 rows x 9 columns],
 0      233
 1      286
 2      229
 3      250
 4      204
       ...
 285    241
 286    264
 287    193
 288    131
 289    236
 Name: chol, Length: 290, dtype: int64)

In [4]:
test_sizes = (.3, .25, .2)
svm_model = CSupportVectorMachine(X, y)
evaluation_table = []

for test_size in test_sizes:
    all_scores = []
    train_scores = []
    test_scores = []

    for _ in range(10):
        svm_model.prepareData(test_size=test_size)
        svm_model.initModel('regression', 'poly')
        scores = svm_model.r2()
        all_scores.append(scores['all'])
        train_scores.append(scores['train'])
        test_scores.append(scores['test'])

    tmp = {
        'Ratio training:test': '{}:{}'.format(1 - test_size, test_size),
        'R2 on entire dataset': sum(all_scores)/10.,
        'R2 on training data': sum(train_scores)/10.,
        'R2 on test data': sum(test_scores)/10.,
    }

    evaluation_table.append(tmp)

pd.DataFrame(evaluation_table)

,Ratio training:test,R2 on entire dataset,R2 on training data,R2 on test data
0,0.7:0.3,0.021179,0.036316,-0.032734
1,0.75:0.25,0.025648,0.031203,-0.013907
2,0.8:0.2,0.025765,0.028995,-0.006173

# Bó tay cô ơi