# Build Model

In [1]:
%load_ext autoreload
%autoreload 2

from modules.file import CPandasFile
from modules.svm import CSupportVectorMachine
import pandas as pd

In [2]:
cholesterol_raw = CPandasFile().readCsv(r'./data/cholesterol.csv')

cholesterol_raw

,Unnamed: 0,age,sex,cp,trestbps,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,chol
0,0,63,1,1,145,1,2,150,0,2.3,3,0,6,0,233
1,1,67,1,4,160,0,2,108,1,1.5,2,3,3,2,286
2,2,67,1,4,120,0,2,129,1,2.6,2,2,7,1,229
3,3,37,1,3,130,0,0,187,0,3.5,3,0,3,0,250
4,4,41,0,2,130,0,2,172,0,1.4,1,0,3,0,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,298,45,1,1,110,0,0,132,0,1.2,2,0,7,1,264
299,299,68,1,4,144,1,0,141,0,3.4,2,2,7,2,193
300,300,57,1,4,130,0,0,115,1,1.2,2,1,7,3,131
301,301,57,0,2,130,0,2,174,0,0.0,2,1,3,1,236
302,302,38,1,3,138,0,0,173,0,0.0,1,4,3,0,175

In [3]:
X = cholesterol_raw.drop(columns=['chol'])
y = cholesterol_raw['chol']

X, y

(     Unnamed: 0  age  sex  cp  trestbps  fbs  restecg  thalach  exang  \
 0             0   63    1   1       145    1        2      150      0
 1             1   67    1   4       160    0        2      108      1
 2             2   67    1   4       120    0        2      129      1
 3             3   37    1   3       130    0        0      187      0
 4             4   41    0   2       130    0        2      172      0
 ..          ...  ...  ...  ..       ...  ...      ...      ...    ...
 298         298   45    1   1       110    0        0      132      0
 299         299   68    1   4       144    1        0      141      0
 300         300   57    1   4       130    0        0      115      1
 301         301   57    0   2       130    0        2      174      0
 302         302   38    1   3       138    0        0      173      0

      oldpeak  slope  ca  thal  num
 0        2.3      3   0     6    0
 1        1.5      2   3     3    2
 2        2.6      2   2     7    1
 3        3.5      3   0     3    0
 4        1.4      1   0     3    0
 ..       ...    ...  ..   ...  ...
 298      1.2      2   0     7    1
 299      3.4      2   2     7    2
 300      1.2      2   1     7    3
 301      0.0      2   1     3    1
 302      0.0      1   4     3    0

 [303 rows x 14 columns],
 0      233
 1      286
 2      229
 3      250
 4      204
       ...
 298    264
 299    193
 300    131
 301    236
 302    175
 Name: chol, Length: 303, dtype: int64)

In [12]:
test_sizes = (.3, .25, .2)
svm_model = CSupportVectorMachine(X, y)
evaluation_table = []

for test_size in test_sizes:
    accuracy_scores = []

    for _ in range(10):
        svm_model.prepareData(test_size=test_size)
        svm_model.initModel('regression', 'poly')
        accuracy_scores.append(svm_model.r2()['all'])

    tmp = {
        'Ratio training:test': '{}:{}'.format(1 - test_size, test_size),
        'Accuracy score': sum(accuracy_scores)/10.
    }

    evaluation_table.append(tmp)

pd.DataFrame(evaluation_table)

  Ratio training:test  Accuracy score
0             0.7:0.3        0.018975
1           0.75:0.25        0.020948
2             0.8:0.2        0.020621