* $support(A)$ dùng để đề cập đến độ phổ biến của $A$ so với tổng số transaction.
  # $$support(A) = \dfrac{\text{số transaction chứa }A}{\text{tổng số transaction}}$$
  * Miền giá trị của $support(A)$ là $[0, 1]$.

* $confidence(A \rightarrow B)$ đề cập đến khả năng một mặt hàng $B$ cũng sẽ dc mua nếu mặt hàng $A$ dc mua.
  # $$confidence(A \rightarrow B) = \dfrac{\text{số transaction chứa cả hai mặt hàng A và B}}{\text{số transaction chỉ chứa mặt hàng A}}$$
  * Miền giá trị của $confidence(A \rightarrow B)$ là $[0, 1]$.

* $lift(A \rightarrow B)$ đề cập đến sự gia tăng tỉ lệ sẽ bán dc $B$ khi $A$ dc bán.
  # $$lift(A \rightarrow B) = \dfrac{confidence(A \rightarrow B)}{support(B)}$$
  * Miền giá trị của $lift(A \rightarrow B)$ là $[0, \infty)$
  * Nếu:
    * $lift(A \rightarrow B) = 1$: ko có sự liên kết giữa sản phẩm $A$ và $B$, tức $A$ và $B$ độc lập.
    * $lift(A \rightarrow B) > 1$: có nh` khả năng $A$ và $B$ sẽ dc mua cùng nhau.
    * $lift(A \rightarrow B) < 1$: hai sản phẩm này sẽ ko bao h dc mua cùng nhau.

* $leverage(A \rightarrow B)$ đề cập đến sự khác biệt giữa tần số quan sát mà $A$ và $B$ cùng xuất hiện và tần số dc kì vọng là $A$ và $B$ độc lập, nếu $leverage(A \rightarrow B) = 0$ thì $A$ và $B$ độc lập.
  # $$leverage(A \rightarrow B) = support(A \rightarrow B) - support(A)*support(B)$$
  * Với $support(A \rightarrow B) = \dfrac{\text{tổng số transaction chứa cả A và B}}{\text{tổng số transaction}}$
  * Miền giá trị của $leverage(A \rightarrow B)$ là $[-1, 1]$

* $conviction(A \rightarrow B)$ cao có nghĩa là **consequent** _(cái có sau, tức sản phẩm mua sau)_ phụ thuộc nhiều vào **antecedent** _(cái có trc, tức sản phẩm mua trc)_. Trong trường hợp $confidence(A \rightarrow B) = 1$ thì $1 - confidence(A \rightarrow B) = 0 \Rightarrow conviction(A \rightarrow B) = \infty$, tức dc xác định là **vô hạn** _($\infty$)_. Tương tự $lift(A \rightarrow B)$, nếu các item độc lập thì $conviction(A \rightarrow B) = 1$.
  # $$conviction(A \rightarrow B) = \dfrac{1 - support(B)}{1 - confidence(A \rightarrow B)}$$
  * Miền giá trị của $conviction(A \rightarrow B)$ là $[0, \infty)$

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from modules.apriori import CApriori
import pandas as pd

In [3]:
data = [
    ['Eggs', 'Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Yogurt'],
    ['Dill', 'Onion', 'Nutmeg', 'Eggs', 'Yogurt'],
    ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
    ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
    ['Corn', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs'],
    ['Orange', 'Corn', 'Eggs', 'Yogurt'],
    ['Milk', 'Apple', 'Orange', 'Eggs'],
    ['Corn', 'Coke', 'Kidney Beans', 'Ice cream'],
    ['Dill', 'Onion', 'Nutmeg'],
    ['Coke', 'Apple', 'Ice cream']
]

data

[['Eggs', 'Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs'],
 ['Orange', 'Corn', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Orange', 'Eggs'],
 ['Corn', 'Coke', 'Kidney Beans', 'Ice cream'],
 ['Dill', 'Onion', 'Nutmeg'],
 ['Coke', 'Apple', 'Ice cream']]

In [4]:
model = CApriori(data)
model.transactions

,Apple,Coke,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Orange,Unicorn,Yogurt
0,False,False,False,False,True,False,True,True,True,True,False,False,True
1,False,False,False,True,True,False,False,False,True,True,False,False,True
2,True,False,False,False,True,False,True,True,False,False,False,False,False
3,False,False,True,False,False,False,True,True,False,False,False,True,True
4,False,False,True,False,True,True,True,False,False,True,False,False,False
5,False,False,True,False,True,False,False,False,False,False,True,False,True
6,True,False,False,False,True,False,False,True,False,False,True,False,False
7,False,True,True,False,False,True,True,False,False,False,False,False,False
8,False,False,False,True,False,False,False,False,True,True,False,False,False
9,True,True,False,False,False,True,False,False,False,False,False,False,False

In [5]:
model.initModel()

                      support
itemsets
(Apple)                   0.3
(Corn)                    0.4
(Eggs)                    0.6
(Ice cream)               0.3
(Kidney Beans)            0.5
(Milk)                    0.4
(Nutmeg)                  0.3
(Onion)                   0.4
(Yogurt)                  0.4
(Corn, Kidney Beans)      0.3
(Kidney Beans, Eggs)      0.3
(Milk, Eggs)              0.3
(Onion, Eggs)             0.3
(Yogurt, Eggs)            0.3
(Kidney Beans, Milk)      0.3
(Nutmeg, Onion)           0.3

In [10]:
model.associationInfo('confidence', .3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Corn),(Kidney Beans),0.4,0.5,0.3,0.75,1.50,0.10,2.0
1,(Kidney Beans),(Corn),0.5,0.4,0.3,0.60,1.50,0.10,1.5
2,(Kidney Beans),(Eggs),0.5,0.6,0.3,0.60,1.00,0.00,1.0
3,(Eggs),(Kidney Beans),0.6,0.5,0.3,0.50,1.00,0.00,1.0
4,(Milk),(Eggs),0.4,0.6,0.3,0.75,1.25,0.06,1.6
5,(Eggs),(Milk),0.6,0.4,0.3,0.50,1.25,0.06,1.2
6,(Onion),(Eggs),0.4,0.6,0.3,0.75,1.25,0.06,1.6
7,(Eggs),(Onion),0.6,0.4,0.3,0.50,1.25,0.06,1.2
8,(Yogurt),(Eggs),0.4,0.6,0.3,0.75,1.25,0.06,1.6
9,(Eggs),(Yogurt),0.6,0.4,0.3,0.50,1.25,0.06,1.2
10,(Kidney Beans),(Milk),0.5,0.4,0.3,0.60,1.50,0.10,1.5
11,(Milk),(Kidney Beans),0.4,0.5,0.3,0.75,1.50,0.10,2.0
12,(Nutmeg),(Onion),0.3,0.4,0.3,1.00,2.50,0.18,inf
13,(Onion),(Nutmeg),0.4,0.3,0.3,0.75,2.50,0.18,2.8

In [12]:
model.associationInfo('lift', 1.4)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Corn),(Kidney Beans),0.4,0.5,0.3,0.75,1.5,0.10,2.0
1,(Kidney Beans),(Corn),0.5,0.4,0.3,0.60,1.5,0.10,1.5
2,(Kidney Beans),(Milk),0.5,0.4,0.3,0.60,1.5,0.10,1.5
3,(Milk),(Kidney Beans),0.4,0.5,0.3,0.75,1.5,0.10,2.0
4,(Nutmeg),(Onion),0.3,0.4,0.3,1.00,2.5,0.18,inf
5,(Onion),(Nutmeg),0.4,0.3,0.3,0.75,2.5,0.18,2.8