In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
from modules.file import CPandasFile

In [3]:
pandas_secretary = CPandasFile()

1. Đọc dữ liệu

In [4]:
items = pandas_secretary.readExcel(r'./data/ItemList.xlsx')

items

,sausage,whole milk,semi-finished bread,yogurt,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,whole milk,pastry,salty snack,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,canned beer,misc. beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sausage,hygiene articles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,soda,pickled vegetables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,frankfurter,curd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14957,tropical fruit,berries,other vegetables,yogurt,kitchen towels,napkins,NaN,NaN,NaN,NaN,NaN
14958,bottled water,herbs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14959,fruit/vegetable juice,onions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14960,soda,root vegetables,semi-finished bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14961,bottled beer,other vegetables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
items.shape

(14962, 11)

2. Chuẩn hóa dữ liệu

In [6]:
records = []

for i in range(0, items.shape[0]):
    records.append([str(items.values[i, j]) for j in range(0, items.shape[1])])

In [7]:
from modules.apriori import CApriori

In [17]:
apriori_model = CApriori(records)
df = apriori_model.initModel(0.01)

In [18]:
df

                                 support
itemsets
(UHT-milk)                      0.021388
(beef)                          0.033953
(berries)                       0.021789
(beverages)                     0.016575
(bottled beer)                  0.045315
...                                  ...
(rolls/buns, other vegetables)  0.010560
(whole milk, other vegetables)  0.014838
(whole milk, rolls/buns)        0.013969
(whole milk, soda)              0.011629
(whole milk, yogurt)            0.011095

[69 rows x 1 columns]

> **Nhận xét**
> * Các mặt hàng, kết hợp trên có nhiều hơn 1% đơn hàng trên tổng số các đơn hàng

In [20]:
apriori_model.associationInfo('confidence', 0.02)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(rolls/buns),(other vegetables),0.110012,0.122109,0.010560,0.095990,0.786101,-0.002873,0.971108
1,(other vegetables),(rolls/buns),0.122109,0.110012,0.010560,0.086481,0.786101,-0.002873,0.974241
2,(whole milk),(other vegetables),0.157867,0.122109,0.014838,0.093988,0.769705,-0.004439,0.968962
3,(other vegetables),(whole milk),0.122109,0.157867,0.014838,0.121511,0.769705,-0.004439,0.958615
4,(whole milk),(rolls/buns),0.157867,0.110012,0.013969,0.088484,0.804315,-0.003399,0.976383
5,(rolls/buns),(whole milk),0.110012,0.157867,0.013969,0.126974,0.804315,-0.003399,0.964615
6,(whole milk),(soda),0.157867,0.097113,0.011629,0.073666,0.758566,-0.003701,0.974689
7,(soda),(whole milk),0.097113,0.157867,0.011629,0.119752,0.758566,-0.003701,0.956700
8,(whole milk),(yogurt),0.157867,0.085817,0.011095,0.070279,0.818941,-0.002453,0.983287
9,(yogurt),(whole milk),0.085817,0.157867,0.011095,0.129283,0.818941,-0.002453,0.967173

> **Nhận xét**
> * Các **consequents** trên lớn hơn 2% khả năng sẽ dc mua nếu **antecedents** dc mua

In [22]:
apriori_model.associationInfo('lift', 0.02)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(rolls/buns),(other vegetables),0.110012,0.122109,0.010560,0.095990,0.786101,-0.002873,0.971108
1,(other vegetables),(rolls/buns),0.122109,0.110012,0.010560,0.086481,0.786101,-0.002873,0.974241
2,(whole milk),(other vegetables),0.157867,0.122109,0.014838,0.093988,0.769705,-0.004439,0.968962
3,(other vegetables),(whole milk),0.122109,0.157867,0.014838,0.121511,0.769705,-0.004439,0.958615
4,(whole milk),(rolls/buns),0.157867,0.110012,0.013969,0.088484,0.804315,-0.003399,0.976383
5,(rolls/buns),(whole milk),0.110012,0.157867,0.013969,0.126974,0.804315,-0.003399,0.964615
6,(whole milk),(soda),0.157867,0.097113,0.011629,0.073666,0.758566,-0.003701,0.974689
7,(soda),(whole milk),0.097113,0.157867,0.011629,0.119752,0.758566,-0.003701,0.956700
8,(whole milk),(yogurt),0.157867,0.085817,0.011095,0.070279,0.818941,-0.002453,0.983287
9,(yogurt),(whole milk),0.085817,0.157867,0.011095,0.129283,0.818941,-0.002453,0.967173

> **Nhận xét**
> * Nhìn chung, các **consequents** và **antecedents** đều có giá trị lift tiến về  1, chứng tỏ chúng có khả năng rất cao sẽ dc mua cùng nhau.